<script type="text/javascript" src="js/custom.js"></script>
    <!--[banner-sect]-->
    <div class="inner-banner-sect text-center">
        <figure><img src="images/signup-banner.jpg" alt="banner" /></figure>
        <div class="pab">
            <div class="tbl-sect">
                <div class="tbl-cell">

                    <div class="title"><h1><span>Products</span></h1></div>

                    <!--[breadcrumb]-->
                    <ul class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Products</li>
                    </ul>
                    <!--[/breadcrumb]-->
                </div>
            </div>
        </div>
    </div>
    <!--[/banner-sect]-->

    <!--[product-sect]-->

    <section class="product-sect middle-sect clearfix">

        <aside class="left-side col-lg-3 col-sm-4 col-xs-12">
            <div class="categories-sect">
                <h5>FILTER PRODUCTS BY</h5>

                <div class="cate-list">
                    <h4>Categories</h4>
                    <ul>
                        <li>
                            <a href="javascript:void(0)">USB Series <span>(2250)</span></a>
                            <ul>
                                <li><a href="#">USB Series 1 <span>500</span></a></li>
                                <li><a href="#">USB Series 2 <span>1050</span></a></li>
                                <li><a href="#">USB Series 2 <span>700</span></a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:void(0)">HDMI Series <span>(2250)</span></a>
                            <ul>
                                <li><a href="#">HDMI Series 1 <span>500</span></a></li>
                                <li><a href="#">HDMI Series 2 <span>1050</span></a></li>
                                <li><a href="#">HDMI Series 3 <span>700</span></a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:void(0)">VGA Series. <span>(2250)</span></a>
                            <ul>
                                <li><a href="#">VGA Series. 1 <span>500</span></a></li>
                                <li><a href="#">VGA Series. 2 <span>1050</span></a></li>
                                <li><a href="#">VGA Series. 3 <span>700</span></a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:void(0)">HOME Series <span>(2250)</span></a>
                            <ul>
                                <li><a href="#">HOME Series 1 <span>500</span></a></li>
                                <li><a href="#">HOME Series 2 <span>1050</span></a></li>
                                <li><a href="#">HOME Series 3<span>700</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)">USB Series <span>(2250)</span></a>
                            <ul>
                                <li><a href="#">USB Series 1 <span>500</span></a></li>
                                <li><a href="#">USB Series 2 <span>1050</span></a></li>
                                <li><a href="#">USB Series 2 <span>700</span></a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:void(0)">HDMI Series <span>(2250)</span></a>
                            <ul>
                                <li><a href="#">HDMI Series 1 <span>500</span></a></li>
                                <li><a href="#">HDMI Series 2 <span>1050</span></a></li>
                                <li><a href="#">HDMI Series 3 <span>700</span></a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:void(0)">VGA Series. <span>(2250)</span></a>
                            <ul>
                                <li><a href="#">VGA Series. 1 <span>500</span></a></li>
                                <li><a href="#">VGA Series. 2 <span>1050</span></a></li>
                                <li><a href="#">VGA Series. 3 <span>700</span></a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:void(0)">HOME Series <span>(2250)</span></a>
                            <ul>
                                <li><a href="#">HOME Series 1 <span>500</span></a></li>
                                <li><a href="#">HOME Series 2 <span>1050</span></a></li>
                                <li><a href="#">HOME Series 3<span>700</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)">USB Series <span>(2250)</span></a>
                            <ul>
                                <li><a href="#">USB Series 1 <span>500</span></a></li>
                                <li><a href="#">USB Series 2 <span>1050</span></a></li>
                                <li><a href="#">USB Series 2 <span>700</span></a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:void(0)">HDMI Series <span>(2250)</span></a>
                            <ul>
                                <li><a href="#">HDMI Series 1 <span>500</span></a></li>
                                <li><a href="#">HDMI Series 2 <span>1050</span></a></li>
                                <li><a href="#">HDMI Series 3 <span>700</span></a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:void(0)">VGA Series. <span>(2250)</span></a>
                            <ul>
                                <li><a href="#">VGA Series. 1 <span>500</span></a></li>
                                <li><a href="#">VGA Series. 2 <span>1050</span></a></li>
                                <li><a href="#">VGA Series. 3 <span>700</span></a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:void(0)">HOME Series <span>(2250)</span></a>
                            <ul>
                                <li><a href="#">HOME Series 1 <span>500</span></a></li>
                                <li><a href="#">HOME Series 2 <span>1050</span></a></li>
                                <li><a href="#">HOME Series 3<span>700</span></a></li>
                            </ul>
                        </li>
                    </ul>

                </div>

            </div>
        </aside>

        <section class="col-lg-9 col-sm-8 right-sects col-xs-12">

            <div class="row top-header">
                <div class="pull-left col-lg-12 col-xs-12">
                    <h1> All Products </h1>
                </div>
            </div>


            <div class="categories-lists row text-center">

                <article class="item col-lg-2 col-md-4 col-xs-6">
                    <div class="quick-info sale-pimg">
                        <figure><img src="images/product-1.jpg" alt="product" data-other-src="images/product-11.jpg" /></figure>
                        <ul>
                            <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Add to Cart</a></li>
                            <li><a data-target=".quick-view" data-toggle="modal" href="javascript:void(0)"><i class="fa fa-search-plus"></i> Quick View</a></li>
                        </ul>
                    </div>
                    <a href="product-details.html">
                        <h4>Category</h4>
                        <p>Blue Bottle tilde tousled small batch lomo.</p>

                        <span class="prices"><del><i class="fa fa-inr"></i> 2500/-</del> <i class="fa fa-inr"></i> 2000/-</span>
                    </a>


                </article>

                <article class="item col-lg-2 col-md-4 col-xs-6">
                    <div class="quick-info sale-pimg">
                        <figure><img src="images/product-2.jpg" alt="product" data-other-src="images/product-21.jpg" /></figure>
                        <ul>
                            <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Add to Cart</a></li>
                            <li><a data-target=".quick-view" data-toggle="modal" href="javascript:void(0)"><i class="fa fa-search-plus"></i> Quick View</a></li>
                        </ul>
                    </div>
                    <a href="product-details.html">
                        <h4>Category</h4>
                        <p>Blue Bottle tilde tousled small batch lomo.</p>

                        <span class="prices"><del><i class="fa fa-inr"></i> 2500/-</del> <i class="fa fa-inr"></i> 2000/-</span>
                    </a>

                </article>

                <article class="item col-lg-2 col-md-4 col-xs-6">
                    <div class="quick-info sale-pimg">
                        <figure><img src="images/product-3.jpg" alt="product" data-other-src="images/product-31.jpg" /></figure>
                        <ul>
                            <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Add to Cart</a></li>
                            <li><a data-target=".quick-view" data-toggle="modal" href="javascript:void(0)"><i class="fa fa-search-plus"></i> Quick View</a></li>
                        </ul>
                    </div>
                    <a href="product-details.html">
                        <h4>Category</h4>
                        <p>Blue Bottle tilde tousled small batch lomo.</p>

                        <span class="prices"><del><i class="fa fa-inr"></i> 2500/-</del> <i class="fa fa-inr"></i> 2000/-</span>
                    </a>
                </article>

                <article class="item col-lg-2 col-md-4 col-xs-6">
                    <div class="quick-info sale-pimg">
                        <figure><img src="images/product-1.jpg" alt="product" data-other-src="images/product-11.jpg" /></figure>
                        <ul>
                            <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Add to Cart</a></li>
                            <li><a data-target=".quick-view" data-toggle="modal" href="javascript:void(0)"><i class="fa fa-search-plus"></i> Quick View</a></li>
                        </ul>
                    </div>
                    <a href="product-details.html">
                        <h4>Category</h4>
                        <p>Blue Bottle tilde tousled small batch lomo.</p>

                        <span class="prices"><del><i class="fa fa-inr"></i> 2500/-</del> <i class="fa fa-inr"></i> 2000/-</span>
                    </a>
                </article>

                <article class="item col-lg-2 col-md-4 col-xs-6">
                    <div class="quick-info sale-pimg">
                        <figure><img src="images/product-4.jpg" alt="product" data-other-src="images/product-41.jpg" /></figure>
                        <ul>
                            <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Add to Cart</a></li>
                            <li><a data-target=".quick-view" data-toggle="modal" href="javascript:void(0)"><i class="fa fa-search-plus"></i> Quick View</a></li>
                        </ul>
                    </div>
                    <a href="product-details.html">
                        <h4>Category</h4>
                        <p>Blue Bottle tilde tousled small batch lomo.</p>

                        <span class="prices"><del><i class="fa fa-inr"></i> 2500/-</del> <i class="fa fa-inr"></i> 2000/-</span>
                    </a>
                </article>

                <article class="item col-lg-2 col-md-4 col-xs-6">
                    <div class="quick-info sale-pimg">
                        <figure><img src="images/product-2.jpg" alt="product" data-other-src="images/product-21.jpg" /></figure>
                        <ul>
                            <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Add to Cart</a></li>
                            <li><a data-target=".quick-view" data-toggle="modal" href="javascript:void(0)"><i class="fa fa-search-plus"></i> Quick View</a></li>
                        </ul>
                    </div>
                    <a href="product-details.html">
                        <h4>Category</h4>
                        <p>Blue Bottle tilde tousled small batch lomo.</p>

                        <span class="prices"><del><i class="fa fa-inr"></i> 2500/-</del> <i class="fa fa-inr"></i> 2000/-</span>
                    </a>

                </article>

                <article class="item col-lg-2 col-md-4 col-xs-6">
                    <div class="quick-info sale-pimg">
                        <figure><img src="images/product-1.jpg" alt="product" data-other-src="images/product-11.jpg" /></figure>
                        <ul>
                            <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Add to Cart</a></li>
                            <li><a data-target=".quick-view" data-toggle="modal" href="javascript:void(0)"><i class="fa fa-search-plus"></i> Quick View</a></li>
                        </ul>
                    </div>
                    <a href="product-details.html">
                        <h4>Category</h4>
                        <p>Blue Bottle tilde tousled small batch lomo.</p>

                        <span class="prices"><del><i class="fa fa-inr"></i> 2500/-</del> <i class="fa fa-inr"></i> 2000/-</span>
                    </a>
                </article>

                <article class="item col-lg-2 col-md-4 col-xs-6">
                    <div class="quick-info sale-pimg">
                        <figure><img src="images/product-2.jpg" alt="product" data-other-src="images/product-21.jpg" /></figure>
                        <ul>
                            <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Add to Cart</a></li>
                            <li><a data-target=".quick-view" data-toggle="modal" href="javascript:void(0)"><i class="fa fa-search-plus"></i> Quick View</a></li>
                        </ul>
                    </div>
                    <a href="product-details.html">
                        <h4>Category</h4>
                        <p>Blue Bottle tilde tousled small batch lomo.</p>

                        <span class="prices"><del><i class="fa fa-inr"></i> 2500/-</del> <i class="fa fa-inr"></i> 2000/-</span>
                    </a>

                </article>

                <article class="item col-lg-2 col-md-4 col-xs-6">
                    <div class="quick-info sale-pimg">
                        <figure><img src="images/product-3.jpg" alt="product" data-other-src="images/product-31.jpg" /></figure>
                        <ul>
                            <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Add to Cart</a></li>
                            <li><a data-target=".quick-view" data-toggle="modal" href="javascript:void(0)"><i class="fa fa-search-plus"></i> Quick View</a></li>
                        </ul>
                    </div>
                    <a href="product-details.html">
                        <h4>Category</h4>
                        <p>Blue Bottle tilde tousled small batch lomo.</p>

                        <span class="prices"><del><i class="fa fa-inr"></i> 2500/-</del> <i class="fa fa-inr"></i> 2000/-</span>
                    </a>
                </article>

                <article class="item col-lg-2 col-md-4 col-xs-6">
                    <div class="quick-info sale-pimg">
                        <figure><img src="images/product-1.jpg" alt="product" data-other-src="images/product-11.jpg" /></figure>
                        <ul>
                            <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Add to Cart</a></li>
                            <li><a data-target=".quick-view" data-toggle="modal" href="javascript:void(0)"><i class="fa fa-search-plus"></i> Quick View</a></li>
                        </ul>
                    </div>
                    <a href="product-details.html">
                        <h4>Category</h4>
                        <p>Blue Bottle tilde tousled small batch lomo.</p>

                        <span class="prices"><del><i class="fa fa-inr"></i> 2500/-</del> <i class="fa fa-inr"></i> 2000/-</span>
                    </a>
                </article>

                <article class="item col-lg-2 col-md-4 col-xs-6">
                    <div class="quick-info sale-pimg">
                        <figure><img src="images/product-4.jpg" alt="product" data-other-src="images/product-41.jpg" /></figure>
                        <ul>
                            <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Add to Cart</a></li>
                            <li><a data-target=".quick-view" data-toggle="modal" href="javascript:void(0)"><i class="fa fa-search-plus"></i> Quick View</a></li>
                        </ul>
                    </div>
                    <a href="product-details.html">
                        <h4>Category</h4>
                        <p>Blue Bottle tilde tousled small batch lomo.</p>

                        <span class="prices"><del><i class="fa fa-inr"></i> 2500/-</del> <i class="fa fa-inr"></i> 2000/-</span>
                    </a>
                </article>

                <article class="item col-lg-2 col-md-4 col-xs-6">
                    <div class="quick-info sale-pimg">
                        <figure><img src="images/product-2.jpg" alt="product" data-other-src="images/product-21.jpg" /></figure>
                        <ul>
                            <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Add to Cart</a></li>
                            <li><a data-target=".quick-view" data-toggle="modal" href="javascript:void(0)"><i class="fa fa-search-plus"></i> Quick View</a></li>
                        </ul>
                    </div>
                    <a href="product-details.html">
                        <h4>Category</h4>
                        <p>Blue Bottle tilde tousled small batch lomo.</p>

                        <span class="prices"><del><i class="fa fa-inr"></i> 2500/-</del> <i class="fa fa-inr"></i> 2000/-</span>
                    </a>

                </article>

                <article class="item col-lg-2 col-md-4 col-xs-6">
                    <div class="quick-info sale-pimg">
                        <figure><img src="images/product-1.jpg" alt="product" data-other-src="images/product-11.jpg" /></figure>
                        <ul>
                            <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Add to Cart</a></li>
                            <li><a data-target=".quick-view" data-toggle="modal" href="javascript:void(0)"><i class="fa fa-search-plus"></i> Quick View</a></li>
                        </ul>
                    </div>
                    <a href="product-details.html">
                        <h4>Category</h4>
                        <p>Blue Bottle tilde tousled small batch lomo.</p>

                        <span class="prices"><del><i class="fa fa-inr"></i> 2500/-</del> <i class="fa fa-inr"></i> 2000/-</span>
                    </a>
                </article>

                <article class="item col-lg-2 col-md-4 col-xs-6">
                    <div class="quick-info sale-pimg">
                        <figure><img src="images/product-2.jpg" alt="product" data-other-src="images/product-21.jpg" /></figure>
                        <ul>
                            <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Add to Cart</a></li>
                            <li><a data-target=".quick-view" data-toggle="modal" href="javascript:void(0)"><i class="fa fa-search-plus"></i> Quick View</a></li>
                        </ul>
                    </div>
                    <a href="product-details.html">
                        <h4>Category</h4>
                        <p>Blue Bottle tilde tousled small batch lomo.</p>

                        <span class="prices"><del><i class="fa fa-inr"></i> 2500/-</del> <i class="fa fa-inr"></i> 2000/-</span>
                    </a>

                </article>

                <article class="item col-lg-2 col-md-4 col-xs-6">
                    <div class="quick-info sale-pimg">
                        <figure><img src="images/product-3.jpg" alt="product" data-other-src="images/product-31.jpg" /></figure>
                        <ul>
                            <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Add to Cart</a></li>
                            <li><a data-target=".quick-view" data-toggle="modal" href="javascript:void(0)"><i class="fa fa-search-plus"></i> Quick View</a></li>
                        </ul>
                    </div>
                    <a href="product-details.html">
                        <h4>Category</h4>
                        <p>Blue Bottle tilde tousled small batch lomo.</p>

                        <span class="prices"><del><i class="fa fa-inr"></i> 2500/-</del> <i class="fa fa-inr"></i> 2000/-</span>
                    </a>
                </article>

                <article class="item col-lg-2 col-md-4 col-xs-6">
                    <div class="quick-info sale-pimg">
                        <figure><img src="images/product-1.jpg" alt="product" data-other-src="images/product-11.jpg" /></figure>
                        <ul>
                            <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Add to Cart</a></li>
                            <li><a data-target=".quick-view" data-toggle="modal" href="javascript:void(0)"><i class="fa fa-search-plus"></i> Quick View</a></li>
                        </ul>
                    </div>
                    <a href="product-details.html">
                        <h4>Category</h4>
                        <p>Blue Bottle tilde tousled small batch lomo.</p>

                        <span class="prices"><del><i class="fa fa-inr"></i> 2500/-</del> <i class="fa fa-inr"></i> 2000/-</span>
                    </a>
                </article>

                <article class="item col-lg-2 col-md-4 col-xs-6">
                    <div class="quick-info sale-pimg">
                        <figure><img src="images/product-4.jpg" alt="product" data-other-src="images/product-41.jpg" /></figure>
                        <ul>
                            <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Add to Cart</a></li>
                            <li><a data-target=".quick-view" data-toggle="modal" href="javascript:void(0)"><i class="fa fa-search-plus"></i> Quick View</a></li>
                        </ul>
                    </div>
                    <a href="product-details.html">
                        <h4>Category</h4>
                        <p>Blue Bottle tilde tousled small batch lomo.</p>

                        <span class="prices"><del><i class="fa fa-inr"></i> 2500/-</del> <i class="fa fa-inr"></i> 2000/-</span>
                    </a>
                </article>

                <article class="item col-lg-2 col-md-4 col-xs-6">
                    <div class="quick-info sale-pimg">
                        <figure><img src="images/product-2.jpg" alt="product" data-other-src="images/product-21.jpg" /></figure>
                        <ul>
                            <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Add to Cart</a></li>
                            <li><a data-target=".quick-view" data-toggle="modal" href="javascript:void(0)"><i class="fa fa-search-plus"></i> Quick View</a></li>
                        </ul>
                    </div>
                    <a href="product-details.html">
                        <h4>Category</h4>
                        <p>Blue Bottle tilde tousled small batch lomo.</p>

                        <span class="prices"><del><i class="fa fa-inr"></i> 2500/-</del> <i class="fa fa-inr"></i> 2000/-</span>
                    </a>
                </article>
            </div>
        </section>
    </section>
    <!--[/product-sect]-->